* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

header h1 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 6em;
}

body {
    font: 400 1.6em 'Open Sans', Helvetica, sans-serif;
    color: #ddd;
    background-color: #333;
    border-top: 5px solid #fc0;
    -webkit-box-shadow: inset 0 3px 30px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 3px 30px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 3px 30px rgba(0, 0, 0, 0.3);
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

body h1 {
    font: 700 'Open Sans', Helvetica, sans-serif;
}

footer {
    font-size: 0.9em;
    background-color: #222;
    padding-top: 14px;
    padding-bottom: 5px;
    color: #888;
    margin-top: 40px;
}

footer a {
    color: #fff;
}

a {
    color: #fc0;
    text-decoration: none;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

a:hover {
    color: #f90;
    text-decoration: none;
}